# Imports

In [1]:
import pandas as pd
import numpy as np

***
# Définition des DataFrame  des tables "akas" et "basics"

In [2]:
df_title_akas = pd.read_csv(
    r"C:\Données\d_ Wild Code School\d_ Projet 02\datasets\title_akas.tsv",
    delimiter = '\t', low_memory = False)
#df_title_akas

In [3]:
df_title_basics = pd.read_csv(
    r"C:\Données\d_ Wild Code School\d_ Projet 02\datasets\title_basics.tsv",
    delimiter = '\t', low_memory = False)
#df_title_basics

***
# Vérification de la pertinence des données

## Vérification que les données de la colonne '*startYear*' de la table "basics" sont pertinentes
On vérifie que ces données sont bien des dates

### Vérification que les valeurs de '*startYear*' sont numériques
Si ce n'est pas le cas, ça ne peut pas être une année.

In [4]:
# Définition d'une nouvelle colonne (Series) "startYearNumeric" pour vérifier
# si les valeurs de la colonne "startYear" sont numériques (True) ou non
df_title_basics["startYearNumeric"] = df_title_basics["startYear"].str.isnumeric()
#print(df_title_basics["startYearNumeric"])

# Décompte des valeurs de cette nouvelle colonne
print("Nombre de valeurs nmuériques et non numériques :")
print(f"- Nombre de valeurs '{df_title_basics['startYearNumeric'].value_counts().index[0]}' : "\
      f"{df_title_basics['startYearNumeric'].value_counts().values[0]}")
print(f"- Nombre de valeurs '{df_title_basics['startYearNumeric'].value_counts().index[1]}' : "\
      f"{df_title_basics['startYearNumeric'].value_counts().values[1]}")
print("------------------------------------------------------------\n")

# Valeurs non numériques de la colonne startYear
print("Table des valeurs non numériques de la colonne 'startYear'")
df_title_basics_startYear_not_num = df_title_basics.loc[df_title_basics["startYearNumeric"] == False, "startYear"]
print(df_title_basics_startYear_not_num)
print("\nValeurs non numériques de la colonne 'startYear :'")
print(df_title_basics_startYear_not_num.value_counts())

Nombre de valeurs nmuériques et non numériques :
- Nombre de valeurs 'True' : 8447825
- Nombre de valeurs 'False' : 1320513
------------------------------------------------------------

Table des valeurs non numériques de la colonne 'startYear'
20798      \N
65758      \N
78451      \N
79361      \N
83807      \N
           ..
9768226    \N
9768228    \N
9768242    \N
9768248    \N
9768266    \N
Name: startYear, Length: 1320513, dtype: object

Valeurs non numériques de la colonne 'startYear :'
\N    1320513
Name: startYear, dtype: int64

Il y a plus de 1 300 00 lignes dans la table *basics* avec une année de début ("*startYear*") inconnue.

## Vérification que les données de la colonne "isAdult" sont pertinentes
On vérifie que ces données sont bien '0' (False) ou '1' (True)

In [5]:
# Définition d'une nouvelle colonne (Series) "isAdultOk" pour vérifier
# si les valeurs de la colonne "isAdult" sont bien 1 (True) ou 0 (False)
df_title_basics["isAdultOk"] = df_title_basics["isAdult"].isin(['0', '1'])
#print(df_title_basics["isAdultOk"])

# Décompte des valeurs de cette nouvelle colonne :
print(df_title_basics["isAdultOk"].value_counts())

df_title_basics.loc[df_title_basics["isAdultOk"] == False]

True     9768326
False         12
Name: isAdultOk, dtype: int64

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,startYearNumeric,isAdultOk
1097512,tt10233364,tvEpisode,Rolling in the Deep Dish\tRolling in the Deep ...,0,2019,\N,\N,Reality-TV,NaN,False,False
1508146,tt10970874,tvEpisode,Die Bauhaus-Stadt Tel Aviv - Vorbild für die M...,0,2019,\N,\N,Talk-Show,NaN,False,False
1896122,tt11670006,tvEpisode,...ein angenehmer Unbequemer...\t...ein angene...,0,1981,\N,\N,Documentary,NaN,False,False
2007107,tt11868642,tvEpisode,GGN Heavyweight Championship Lungs With Mike T...,0,2020,\N,\N,Talk-Show,NaN,False,False
2161275,tt12149332,tvEpisode,Jeopardy! College Championship Semifinal Game ...,0,2020,\N,\N,"Game-Show,Short",NaN,False,False
2306457,tt12415330,tvEpisode,Anthony Davis High Brow Tank\tAnthony Davis Hi...,0,2017,\N,\N,Reality-TV,NaN,False,False
2995567,tt13704268,tvEpisode,Bay of the Triffids/Doctor of Doom\tBay of the...,0,\N,\N,\N,"Animation,Comedy,Family",NaN,False,False
6473194,tt27147391,tvEpisode,LATINO Accents QUIZ! w@MrHReviews @EchoBaseNet...,0,2023,\N,\N,"News,Talk-Show",NaN,False,False
6526407,tt27404292,tvEpisode,Nord-Koreas röda prinsessa\tNord-Koreas röda p...,0,2022,\N,\N,Documentary,NaN,False,False
7090488,tt3984412,tvEpisode,"I'm Not Going to Come Last, I'm Just Going to ...",0,2014,\N,\N,"Game-Show,Reality-TV",NaN,False,False
9724962,tt9822816,tvEpisode,Zwischen Vertuschung und Aufklärung - Missbrau...,0,2019,\N,\N,Talk-Show,NaN,False,False
9764793,tt9909210,tvEpisode,Politik und/oder Moral - Wie weit geht das Ver...,0,2005,\N,\N,Talk-Show,NaN,False,False

12 lignes de la table *basics* on des données de la colonne "*isAdult*" incohérentes ou manquantes ; pour certaines lignes, ce sont en fait des dates (ex: 2019, 1981,...) au lieu de valeurs booléennes (0 ou 1).
Etant donné les titres concernés et leur très faible nombre, on ne corrige pas ces erreurs.

## Vérification que les données de la colonne '*Region*' de la table "akas" sont pertinentes

In [6]:
df_title_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35584437 entries, 0 to 35584436
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [7]:
# Décompte du nombre de valeurs "\N" dans la colonne 'region'
df_title_akas[df_title_akas["region"] == "\\N"]["region"].value_counts()

\N    1886877
Name: region, dtype: int64

Plus de 1 800 000 lignes ont une valeur manquante dans la colonne "*region*" et ne seront pas prises en compte.

In [8]:
df_title_akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
35584432,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
35584433,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
35584434,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
35584435,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
35584436,tt9916856,2,The Wind,\N,\N,original,\N,1

## Vérification que les données de la colonne '*isOriginalTitle*' de la table "akas" sont pertinentes

### Valeurs présentes dans la colonne '*isOriginalTitle*'

In [9]:
df_title_akas["isOriginalTitle"].value_counts()

0     33771964
1      1810364
\N        2109
Name: isOriginalTitle, dtype: int64

### Valeurs dans la colonne '*region*' lorsque `isOriginalTitle == '1'`

In [21]:
df_title_akas[df_title_akas["isOriginalTitle"] == '1']["region"].value_counts()

\N     1810343
US          10
XWW          4
GB           2
JP           1
HK           1
CN           1
BR           1
DK           1
Name: region, dtype: int64

### Valeurs dans la colonne '*region*' lorsque `isOriginalTitle == '0'`

In [22]:
df_title_akas[df_title_akas["isOriginalTitle"] == '0']["region"].value_counts()

DE    4259475
FR    4255360
JP    4254508
IN    4195000
ES    4176014
       ...
JE          2
TV          1
NU          1
PW          1
NR          1
Name: region, Length: 248, dtype: int64

La colonne "*region*" semble donner les pays où chaque titre est distribué. La colonne "isOriginalTitle n'ne donne pas d'information intéressante.

## Données de la colonne '*attributes*'

In [10]:
df_title_akas["attributes"].value_counts()

\N                                                                35326897
transliterated title                                                 27845
alternative spelling                                                 19129
new title                                                            17922
literal English title                                                15484
                                                                    ...
longer versionrerun title                                               1
first four episodes title                                                1
YIVO translationreissue title                                           1
Locarno film festival title                                              1
added framing sequences and narration in Yiddishreissue title           1
Name: attributes, Length: 188, dtype: int64

Les données de "*attributes*" ne semblent pas intéressantes.

## Données de la colonne '*types*'

In [11]:
df_title_akas["types"].value_counts()

\N                      30056932
imdbDisplay              3471965
original                 1810364
alternative               110254
working                    53752
dvd                        21934
video                      20812
festival                   19434
tv                         18515
dvdimdbDisplay              233
imdbDisplaytv                74
festivalimdbDisplay          66
imdbDisplayworking           31
imdbDisplayvideo             26
alternativetv                 9
tvvideo                       7
alternativedvd                6
videoworking                  5
alternativeworking            5
tvworking                     4
festivalworking               3
alternativevideo              2
dvdvideo                      2
alternativefestival           2
Name: types, dtype: int64

Les données de "*types*" ne semblent pas intéressantes.

***
# Réduction des DataFrame en filtrant

## Filtre DataFrame "basics" avec l'année de production à partir de 1980

### Conversion de la colonne '*startYear*' en valeur numérique dans un nouveau DataFrame

#### Création d'un DataFrame avec uniquement les valeurs numériques de '*startYear*'

In [23]:
# Création du DataFrame df_title_basics_recent_years en ne gardant que les lignes de df_title_basics
# pour lesquelles la colonne "startYearNumeric" est True (= startYear est numérique)
df_title_basics_recent_years = df_title_basics.loc[df_title_basics["startYearNumeric"] == True]
print(df_title_basics_recent_years.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8447825 entries, 0 to 9768337
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   tconst            object
 1   titleType         object
 2   primaryTitle      object
 3   originalTitle     object
 4   isAdult           object
 5   startYear         object
 6   endYear           object
 7   runtimeMinutes    object
 8   genres            object
 9   startYearNumeric  bool
 10  isAdultOk         bool
dtypes: bool(2), object(9)
memory usage: 660.6+ MB
None

<div class="alert alert-block alert-info">
    <b>Note :</b> Il faut passer par une copy du DataFrame <em>df_title_basics_recent_years</em> pour y faire le changement de type de données de la colonne "startYear", car si on le fait directement dans <em>df_title_basics_recent_years</em>, un message d'avertissement est renvoyé.
</div>

In [24]:
# Création d'une copie du DataFrame df_title_basics_recent_years,
# pour y appliquer le changement de type de données de "startYear"
df_title_basics_recent_years_copy = df_title_basics_recent_years.copy()

In [25]:
# Application de la méthode "to_numeric" pour changer le type de données de "startYear"
df_title_basics_recent_years_copy["startYear"] = pd.to_numeric(df_title_basics_recent_years_copy["startYear"])

In [26]:
# Vérification, affichage des infos
df_title_basics_recent_years_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8447825 entries, 0 to 9768337
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   tconst            object
 1   titleType         object
 2   primaryTitle      object
 3   originalTitle     object
 4   isAdult           object
 5   startYear         int64
 6   endYear           object
 7   runtimeMinutes    object
 8   genres            object
 9   startYearNumeric  bool
 10  isAdultOk         bool
dtypes: bool(2), int64(1), object(8)
memory usage: 660.6+ MB

In [27]:
# Copie de ce DataFrame dans df_title_basics_recent_years
df_title_basics_recent_years = df_title_basics_recent_years_copy.copy()

In [28]:
# Vérification, affichage des infos de df_title_basics_recent_years
df_title_basics_recent_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8447825 entries, 0 to 9768337
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   tconst            object
 1   titleType         object
 2   primaryTitle      object
 3   originalTitle     object
 4   isAdult           object
 5   startYear         int64
 6   endYear           object
 7   runtimeMinutes    object
 8   genres            object
 9   startYearNumeric  bool
 10  isAdultOk         bool
dtypes: bool(2), int64(1), object(8)
memory usage: 660.6+ MB

### Filtre sur la colonne '*startYear*'

In [29]:
# Application du filtre dans la méthode loc
df_title_basics_recent_years = df_title_basics_recent_years.loc[df_title_basics_recent_years["startYear"] >= 1980]
print(df_title_basics_recent_years.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7545704 entries, 11636 to 9768337
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   tconst            object
 1   titleType         object
 2   primaryTitle      object
 3   originalTitle     object
 4   isAdult           object
 5   startYear         int64
 6   endYear           object
 7   runtimeMinutes    object
 8   genres            object
 9   startYearNumeric  bool
 10  isAdultOk         bool
dtypes: bool(2), int64(1), object(8)
memory usage: 590.1+ MB
None

On récupère donc un peu **plus de 7 500 000 titres** dont l'année de début est supérieure ou égale à 1980.

## Filtre DataFrame "akas" avec la région "FR"

In [30]:
# Création d'un nouveau DataFrame avec application du filtre dans la méthode loc
df_title_akas_fr = df_title_akas.loc[df_title_akas["region"] == "FR"]

In [31]:
# Vérification des infos du nouveau DataFrame
print(df_title_akas_fr.info())
print()
# Vérification qu'il n'y a que la valeur "FR" dans la colonne 'region'
print(df_title_akas_fr["region"].value_counts())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4255395 entries, 9 to 35584429
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 292.2+ MB
None

FR    4255395
Name: region, dtype: int64

On récupère un peu **plus de 4 250 00 titres** distribués en France.

***
# Fusion des DataFrame "akas" et "basics" modifiés avec jointure
Fusion pour récupérer un seul Dataframe contenant les titres distribués en France (region "FR") et datant d'à partir de 1980 (startYear >= 1980)

In [33]:
# Création d'un nouveau DataFrame comme résultat de cette jointure
# merge de type inner join (how = 'inner') sur les champs "tconst" et "titleID"
# pour récupérer les lignes pour lesquelles les valeurs de region et de startYear sont disponibles.
df_title_fr_recent_years = pd.merge(
    left = df_title_basics_recent_years, right = df_title_akas_fr, how = 'inner',
    left_on = "tconst", right_on = "titleId")

In [34]:
# Affichage
df_title_fr_recent_years

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,startYearNumeric,isAdultOk,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,\N,94,Documentary,True,True,tt0013274,2,Histoire de la guerre civile,FR,\N,\N,\N,0
1,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,\N,60,\N,True,True,tt0015414,3,La terre des taureaux,FR,\N,imdbDisplay,\N,0
2,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,\N,60,\N,True,True,tt0015414,5,La Terre des taureaux,FR,\N,alternative,\N,0
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance",True,True,tt0035423,11,Kate et Léopold,FR,\N,imdbDisplay,\N,0
4,tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",0,1983,\N,118,"Drama,War",True,True,tt0036606,7,Les Coeurs captifs,FR,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2852502,tt9916844,tvEpisode,Episode #3.15,Episode #3.15,0,2010,\N,\N,"Action,Drama,Family",True,True,tt9916844,4,Épisode #3.15,FR,fr,\N,\N,0
2852503,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2010,\N,\N,"Action,Drama,Family",True,True,tt9916846,1,Épisode #3.18,FR,fr,\N,\N,0
2852504,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family",True,True,tt9916848,1,Épisode #3.17,FR,fr,\N,\N,0
2852505,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family",True,True,tt9916850,3,Épisode #3.19,FR,fr,\N,\N,0
2852506,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family",True,True,tt9916852,2,Épisode #3.20,FR,fr,\N,\N,0

***
# Filtre du nouveau DataFrame sur certaines valeurs

## Filtre sur les *types* de titre pour ne garder que les films "longs métrages"

### Vérification des *types* de titre

In [35]:
# Affichage et décompte des catégories de "type" de titre (titleType)
df_title_fr_recent_years["titleType"].value_counts()

tvEpisode       2719662
movie             54094
short             31352
tvMovie           18375
tvSeries          13467
video              9344
tvMiniSeries       3739
videoGame          1228
tvSpecial           936
tvShort             310
Name: titleType, dtype: int64

- Les *types* de titre les plus fréquents sont les "épisodes de télé" ; ils ne nous intéressent pas.
- Les films ("**movies**") sont les deuxièmes *types* les plus fréquents, c'est ce type qui nous intéresse et que l'on va garder.
- Les autres types ne nous intéressent pas non plus et ne seront donc pas gardés.

### Nouveau DataFrame avec filtre sur les *types* de film

In [36]:
# Création d'un nouveau DataFrame en filtrant le précédent
# pour ne garder que les types "movie" dans la colonne "titleType"
df_movie_title_fr_recent_years = df_title_fr_recent_years[df_title_fr_recent_years["titleType"] == "movie"]

In [37]:
# Affichage des infos du DataFrame mis à jour
df_movie_title_fr_recent_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54094 entries, 0 to 2852410
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tconst            54094 non-null  object
 1   titleType         54094 non-null  object
 2   primaryTitle      54094 non-null  object
 3   originalTitle     54094 non-null  object
 4   isAdult           54094 non-null  object
 5   startYear         54094 non-null  int64
 6   endYear           54094 non-null  object
 7   runtimeMinutes    54094 non-null  object
 8   genres            54094 non-null  object
 9   startYearNumeric  54094 non-null  bool
 10  isAdultOk         54094 non-null  bool
 11  titleId           54094 non-null  object
 12  ordering          54094 non-null  int64
 13  title             54094 non-null  object
 14  region            54094 non-null  object
 15  language          54094 non-null  object
 16  types             54094 non-null  object
 17  attributes        54094 non-null  object
 18  isOriginalTitle   54094 non-null  object
dtypes: bool(2), int64(2), object(15)
memory usage: 7.5+ MB

## Suppression des colonnes inutiles

On va regarder le contenu des différentes colonnes pour voir si les données qu'elles contiennent sont intéressantes ou pertinentes, et choisir celles à garder et celles à supprimer, afin d'alléger le dataset

### Inpsection des données des différentes colonnes

#### Colonne "*isOriginalTitle*"

In [38]:
df_movie_title_fr_recent_years["isOriginalTitle"].value_counts()

0    54094
Name: isOriginalTitle, dtype: int64

#### Colonne "*attributes*"

In [39]:
print(df_movie_title_fr_recent_years["attributes"].value_counts())

print("\n- Nombre d'occurences de la valeur la plus présente : ",
      df_movie_title_fr_recent_years["attributes"].value_counts().values[0])
print("- En pourcentage : ",
      round(df_movie_title_fr_recent_years["attributes"].value_counts().values[0] /
      len(df_movie_title_fr_recent_years) * 100, 2), "%")

\N                        52383
DVD box title               207
new title                   187
alternative spelling        173
complete title              129
                          ...
Pay-TV title                  1
bowdlerized title             1
long new title                1
informal short title          1
second copyright title        1
Name: attributes, Length: 65, dtype: int64

- Nombre d'occurences de la valeur la plus présente :  52383
- En pourcentage :  96.84 %

#### Colonne "*language*"

In [40]:
print(df_movie_title_fr_recent_years["language"].value_counts())

print("\n- Nombre d'occurences de la valeur la plus présente : ",
      df_movie_title_fr_recent_years["language"].value_counts().values[0])
print("- En pourcentage : ",
      round(df_movie_title_fr_recent_years["language"].value_counts().values[0] /
      len(df_movie_title_fr_recent_years) * 100, 2), "%")

\N     53997
fr        73
en        17
qal        7
Name: language, dtype: int64

- Nombre d'occurences de la valeur la plus présente :  53997
- En pourcentage :  99.82 %

#### Colonne "*endYear*"

In [41]:
print(df_movie_title_fr_recent_years["endYear"].value_counts())

\N    54094
Name: endYear, dtype: int64

#### Colonne "*ordering*"

In [42]:
print(df_movie_title_fr_recent_years["ordering"].value_counts())

2      9052
1      8107
3      5123
4      3920
5      3149
       ...
75        1
102       1
188       1
79        1
71        1
Name: ordering, Length: 89, dtype: int64

#### Comparaison des colonnes "*primaryTitle*" et "*title*"

In [43]:
len(df_movie_title_fr_recent_years[
    df_movie_title_fr_recent_years["primaryTitle"] == df_movie_title_fr_recent_years["title"]])

23359

Il y a environ la moitié des films pour lesquels les colonnes "*primaryTitle*" et "*title*" ont des valeurs différentes ; on va donc garder les deux.

#### Comparaison des colonnes "*tconst*" et "*titleId*"

In [44]:
len(df_movie_title_fr_recent_years[
    df_movie_title_fr_recent_years["tconst"] == df_movie_title_fr_recent_years["titleId"]])

54094

In [45]:
# Affichage des colonnes
df_movie_title_fr_recent_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54094 entries, 0 to 2852410
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tconst            54094 non-null  object
 1   titleType         54094 non-null  object
 2   primaryTitle      54094 non-null  object
 3   originalTitle     54094 non-null  object
 4   isAdult           54094 non-null  object
 5   startYear         54094 non-null  int64
 6   endYear           54094 non-null  object
 7   runtimeMinutes    54094 non-null  object
 8   genres            54094 non-null  object
 9   startYearNumeric  54094 non-null  bool
 10  isAdultOk         54094 non-null  bool
 11  titleId           54094 non-null  object
 12  ordering          54094 non-null  int64
 13  title             54094 non-null  object
 14  region            54094 non-null  object
 15  language          54094 non-null  object
 16  types             54094 non-null  object
 17  attributes        54094 non-null  object
 18  isOriginalTitle   54094 non-null  object
dtypes: bool(2), int64(2), object(15)
memory usage: 7.5+ MB

### Suppression des colonnes inutiles

#### Suppression de la colonne "*titleId*"
Toutes les données de la colonne "*titleId*" sont égales à celles de la colonne "*tconst*" (identifiant du film, c'est dû à la construction du DataFrame), cette colonne ne sert donc à rien et peut être supprimée.

In [46]:
df_movie_title_fr_recent_years.drop(columns = "titleId", inplace = True)

C:\Users\julie\AppData\Local\Temp\ipykernel_5420\3512727902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_title_fr_recent_years.drop(columns = "titleId", inplace = True)

#### Suppression de la colonne "*region*"
Toutes les données de la colonne "*region*" sont égales et valent `FR` (dû à la construction du DataFrame), cette colonne ne sert donc à rien et peut être supprimée.

In [47]:
df_movie_title_fr_recent_years.drop(columns = "region", inplace = True)

C:\Users\julie\AppData\Local\Temp\ipykernel_5420\313186156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_title_fr_recent_years.drop(columns = "region", inplace = True)

#### Suppression de la colonne "*endYear*"
Toutes les données de la colonne "*endYear*" valent `\N`, cette colonne ne sert donc à rien et peut être supprimée.

In [48]:
df_movie_title_fr_recent_years.drop(columns = "endYear", inplace = True)

C:\Users\julie\AppData\Local\Temp\ipykernel_5420\2844408875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_title_fr_recent_years.drop(columns = "endYear", inplace = True)

#### Suppression de la colonne "*isOriginalTitle*"
Toutes les données de la colonne "*isOriginalTitle*" valent `0`, cette colonne ne sert donc à rien et peut être supprimée.

In [49]:
df_movie_title_fr_recent_years.drop(columns = "isOriginalTitle", inplace = True)

C:\Users\julie\AppData\Local\Temp\ipykernel_5420\1461385085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_title_fr_recent_years.drop(columns = "isOriginalTitle", inplace = True)

#### Suppression de la colonne "*attributes*"
Près de 97 % des données de la colonne "*attributes*" valent `\N`, cette colonne n'apporte rien à notre analyse et peut être supprimée.

In [50]:
df_movie_title_fr_recent_years.drop(columns = "attributes", inplace = True)

C:\Users\julie\AppData\Local\Temp\ipykernel_5420\2355916286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_title_fr_recent_years.drop(columns = "attributes", inplace = True)

#### Suppression de la colonne "*language*"
Près de 100 % des données de la colonne "*language*" valent `\N`, cette colonne n'apporte rien à notre analyse et peut être supprimée.

In [51]:
df_movie_title_fr_recent_years.drop(columns = "language", inplace = True)

C:\Users\julie\AppData\Local\Temp\ipykernel_5420\1018434411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_title_fr_recent_years.drop(columns = "language", inplace = True)

#### Suppression des colonnes "*startYearNumeric*" et  "*isAdultOk*"
Ces colonnes ont été crééee uniquement pour vérifier les données, elles ne servent plus et peuvent être supprimées.

In [52]:
df_movie_title_fr_recent_years.drop(columns = "startYearNumeric", inplace = True)
df_movie_title_fr_recent_years.drop(columns = "isAdultOk", inplace = True)

C:\Users\julie\AppData\Local\Temp\ipykernel_5420\3307970101.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_title_fr_recent_years.drop(columns = "startYearNumeric", inplace = True)
C:\Users\julie\AppData\Local\Temp\ipykernel_5420\3307970101.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_title_fr_recent_years.drop(columns = "isAdultOk", inplace = True)

### Infos de la table modifiée

In [53]:
# Affichage des données de la table mise à jour, après la suppression des colonnes.
df_movie_title_fr_recent_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54094 entries, 0 to 2852410
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          54094 non-null  object
 1   titleType       54094 non-null  object
 2   primaryTitle    54094 non-null  object
 3   originalTitle   54094 non-null  object
 4   isAdult         54094 non-null  object
 5   startYear       54094 non-null  int64
 6   runtimeMinutes  54094 non-null  object
 7   genres          54094 non-null  object
 8   ordering        54094 non-null  int64
 9   title           54094 non-null  object
 10  types           54094 non-null  object
dtypes: int64(2), object(9)
memory usage: 5.0+ MB

## Exploration des genres des films

On s'intéresse aux données de la colonne "*genres*", afin de lister les genres de film présents, puis "éclater" les données de cette colonne pour n'avoir qu'un seul *genre* par ligne dans cette colonne.

In [54]:
df_movie_title_fr_recent_years

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,ordering,title,types
0,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,94,Documentary,2,Histoire de la guerre civile,\N
1,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,60,\N,3,La terre des taureaux,imdbDisplay
2,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,60,\N,5,La Terre des taureaux,alternative
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",11,Kate et Léopold,imdbDisplay
4,tt0036606,movie,"Another Time, Another Place","Another Time, Another Place",0,1983,118,"Drama,War",7,Les Coeurs captifs,imdbDisplay
...,...,...,...,...,...,...,...,...,...,...,...
2851935,tt9913936,movie,Paradise,Paradise,0,2019,135,"Crime,Drama",6,Le paradis de Diego,imdbDisplay
2852016,tt9914164,movie,Une vie de château,Une vie de château,0,2019,55,Documentary,1,Une vie de château,imdbDisplay
2852339,tt9915790,movie,Bobbyr Bondhura,Bobbyr Bondhura,0,2019,106,Family,3,Bobbyr Bondhura,imdbDisplay
2852390,tt9916162,movie,Making of 'La Virgen de los sicarios',Making of 'La Virgen de los sicarios',0,1999,45,Documentary,2,Making of 'La Virgen de los sicarios',imdbDisplay
2852410,tt9916362,movie,Coven,Akelarre,0,2020,92,"Drama,History",12,Les sorcières d'Akelarre,imdbDisplay

In [55]:
# Décompte des valeurs manquantes dans la colonne "genres"
df_movie_title_fr_recent_years["genres"].isna().value_counts()

False    54094
Name: genres, dtype: int64

Il n'y a aucune valeur manquante dans cette colonne.

In [56]:
# Création d'une copie du DataFrame et reset des index
df_movie_title_fr_recent_years_copy = df_movie_title_fr_recent_years.copy()
df_movie_title_fr_recent_years_copy.reset_index(inplace = True)

In [57]:
# Initialisation d'un dictionnaire qui va servir à lister les genres présents, avec :
    # chaque clé est un genre
    # chaque valeur est la nombre d'occurences de ce genre
dict_genres = {"\\N" : 0}

list_tmp = [] # liste temporaire utilisée dans la boucle

nb_movies = len(df_movie_title_fr_recent_years_copy) # Nbre de films

# Boucle sur les films de notre DataFrame ..._copy
for i in range(nb_movies):
    try:
        list_tmp = df_movie_title_fr_recent_years_copy["genres"][i].split(",")
            # Affectation la liste des genres de la ligne courant à la ligne temp
        df_movie_title_fr_recent_years_copy["genres"][i] = list_tmp
            # Remplacement de la valeur dans la colonne "genres" par cette liste de genres
        # Vérification, pour chaque genre de cette liste, s'il est déjà présent dans le dictionnaire
        for str_genre in list_tmp:
            if not str_genre in dict_genres:
                # Si le genre n'est pas dans le dictionnaire, on l'ajoute
                dict_genres[str_genre] = 1
            else:
                # Si le genre est déjà dans le dictionnaire, on incrémente son nombre d'occurences
                dict_genres[str_genre] += 1
    except:
        value_i = df_movie_title_fr_recent_years_copy["genres"][i]
        print(f"Erreur pour i = {i} : {value_i}")

C:\Users\julie\AppData\Local\Temp\ipykernel_5420\1437450091.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_title_fr_recent_years_copy["genres"][i] = list_tmp

In [58]:
# Affichage du dictionnaire
sorted(dict_genres.items(), key = lambda x : x[1], reverse = True)

[('Drama', 23768),
 ('Comedy', 12815),
 ('Documentary', 10654),
 ('Action', 7286),
 ('Thriller', 6275),
 ('Crime', 5659),
 ('Romance', 5600),
 ('Adventure', 4675),
 ('Horror', 4482),
 ('Mystery', 2667),
 ('Fantasy', 2340),
 ('Biography', 2256),
 ('Family', 2113),
 ('Sci-Fi', 2050),
 ('Animation', 1953),
 ('History', 1613),
 ('Music', 1415),
 ('Adult', 1269),
 ('\\N', 1254),
 ('War', 937),
 ('Sport', 684),
 ('Musical', 492),
 ('Western', 187),
 ('News', 61),
 ('Reality-TV', 10),
 ('Talk-Show', 2),
 ('Short', 2),
 ('Game-Show', 1)]

### Enregistrement en fichier csv ou Excel

In [59]:
df_movie_title_fr_recent_years_copy.to_csv(
    r"C:\Users\julie\Wild Code School\Projet 2\movies_in_Fr_from_1980.csv", index = True)

In [60]:
df_movie_title_fr_recent_years.to_excel(
    r"C:\Users\julie\Wild Code School\Projet 2\movies_in_Fr_from_1980.xlsx", index = True)

### Eclatement des genres de film

In [61]:
df_movie_title_fr_recent_years_exploded = df_movie_title_fr_recent_years_copy.explode(column = "genres")

In [62]:
df_movie_title_fr_recent_years_exploded

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,ordering,title,types
0,0,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,94,Documentary,2,Histoire de la guerre civile,\N
1,1,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,60,\N,3,La terre des taureaux,imdbDisplay
2,2,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,60,\N,5,La Terre des taureaux,alternative
3,3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,Comedy,11,Kate et Léopold,imdbDisplay
3,3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,Fantasy,11,Kate et Léopold,imdbDisplay
...,...,...,...,...,...,...,...,...,...,...,...,...
54090,2852016,tt9914164,movie,Une vie de château,Une vie de château,0,2019,55,Documentary,1,Une vie de château,imdbDisplay
54091,2852339,tt9915790,movie,Bobbyr Bondhura,Bobbyr Bondhura,0,2019,106,Family,3,Bobbyr Bondhura,imdbDisplay
54092,2852390,tt9916162,movie,Making of 'La Virgen de los sicarios',Making of 'La Virgen de los sicarios',0,1999,45,Documentary,2,Making of 'La Virgen de los sicarios',imdbDisplay
54093,2852410,tt9916362,movie,Coven,Akelarre,0,2020,92,Drama,12,Les sorcières d'Akelarre,imdbDisplay
54093,2852410,tt9916362,movie,Coven,Akelarre,0,2020,92,History,12,Les sorcières d'Akelarre,imdbDisplay

In [63]:
df_movie_title_fr_recent_years_exploded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102520 entries, 0 to 54093
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   index           102520 non-null  int64
 1   tconst          102520 non-null  object
 2   titleType       102520 non-null  object
 3   primaryTitle    102520 non-null  object
 4   originalTitle   102520 non-null  object
 5   isAdult         102520 non-null  object
 6   startYear       102520 non-null  int64
 7   runtimeMinutes  102520 non-null  object
 8   genres          102520 non-null  object
 9   ordering        102520 non-null  int64
 10  title           102520 non-null  object
 11  types           102520 non-null  object
dtypes: int64(3), object(9)
memory usage: 10.2+ MB

### Enregistrement en fichier csv ou Excel

In [64]:
df_movie_title_fr_recent_years_exploded.to_csv(
    r"C:\Users\julie\Wild Code School\Projet 2\movies_in_Fr_from_1980_genres_exploded.csv", index = True)